div.Normal_View img {
  /* position: relative;
  float: left; */
  height: 263pt;
  width: 263pt;
  box-shadow: 20pt 20pt 60pt rgba(0, 0, 0, 0.3);
}

/* #image1 {
  top: 100pt;
  left: 148pt;
}

#image2 {
  top: 100pt;
  left: 470pt;
}

#image3 {
  top: 463pt;
  left: -86pt;
}

#image4 {
  top: 463pt;
  left: 236pt;
} */

div.Normal_View {
  font-family: "Roboto-Regular";
  color: rgb(89, 95, 111);
  letter-spacing: 0pt;
  height: 826pt;
  display: inline-block;
}

div.Normal_View h5 {
  font-size: 12pt;
  width: 41pt;
}

/* #text_image1 {
  position: relative;
  top: -104pt;
  left: 440pt;
}

#text_image2 {
  position: relative;
  top: -250pt;
  left: 1025pt;
}

#text_image3 {
  position: relative;
  top: -20pt;
  left: 148pt;
}

#text_image4 {
  position: relative;
  top: -166pt;
  left: 733pt;
} */
