.Normal_View img {
  position: relative;
  float: left;
  height: 263pt;
  width: 263pt;
}

#image1 {
  top: 100pt;
  left: 148pt;
}

#image2 {
  top: 100pt;
  left: 470pt;
}

#image3 {
  top: 463pt;
  left: -86pt;
}

#image4 {
  top: 463pt;
  left: 236pt;
}

.Normal_View {
  font-family: "Roboto-Regular";
  color: rgb(89, 95, 111);
  letter-spacing: 0pt;
  height: 826pt;
}

.Normal_View h5 {
  font-family: "Roboto-Bold";
  font-size: 12pt;
  width: 41pt;
  margin: 0pt;
  padding-bottom: 10pt;
}

.Normal_View h4 {
  font-size: 18pt;
  letter-spacing: -0.5pt;
  color: rgb(26, 71, 176);
  width: 263pt;
  margin: 0pt;
  padding-bottom: 10pt;
}

.Normal_View p {
  font-size: 14pt;
  line-height: 18pt;
  width: 195pt;
  margin: 0pt;
  padding-bottom: 21pt;
}

.Normal_View h6 {
  font-size: 12pt;
  width: 61pt;
  margin: 0pt;
}

#text_image1 {
  position: relative;
  top: -104pt;
  left: 440pt;
}

#text_image2 {
  position: relative;
  top: -250pt;
  left: 1025pt;
}

#text_image3 {
  position: relative;
  top: -20pt;
  left: 148pt;
}

#text_image4 {
  position: relative;
  top: -166pt;
  left: 733pt;
}
