.Features {
  height: 827pt;
  /* width: 1440pt; */
  background-color: rgb(18, 48, 117);
}

.Features img {
  margin-top: 150pt;
  margin-left: 150pt;
}

.Features p {
  font-size: 36pt;
  color: rgb(255, 255, 255);
  margin-left: 150pt;
  font-family: "Roboto-Light";
}

.Features #numbers {
  margin-left: 150pt;
  box-shadow: 20pt 20pt 60pt rgba(0, 0, 0, 0.4);
}

.Features #numbers p {
  font-size: 24pt;
  /* position: relative; */
  float: left;
  font-family: "Roboto Bold";
  padding: 20pt 26pt 19pt 27pt;
  border-radius: 50%;
  margin-left: 0pt;
  margin-right: 225pt;
  background-color: rgb(250, 43, 86);
}

.Features #text p {
  /* position: relative;
  left: -90pt;
  top: 120pt;
  float: left; */
  height: 42pt;
  width: 263pt;
  margin-right: 29pt;
  font-size: 18pt;
  padding: 0pt;
  margin-left: 0pt;
}

.Features #text {
  margin-left: 150pt;
}
