.header {
  height: 100pt;
  width: 1440pt;
  overflow: auto;
}

#nav {
  margin: 41pt 0pt 40pt 682pt;
}

.header .link {
  margin-right: 30pt;
  font-size: 16pt;
  font-family: Roboto-Regular;
  text-decoration: none;
  color: rgb(89, 95, 111);
}

.header img {
  /* height: 29pt; */
  width: 86pt;
  margin: 36pt 0pt 35pt 150pt;
  float: left;
}
